<div class="row">
	<div class="span8">
		<section class="module section-header">
			<header>
				<a class="return-button" href="#!quotes/active/1"><span>&laquo;</span></a>

				<h2>
					<% if(alternatingQuote.isSingleQuote) { %>
					<%== $.View("templates/quotes/alternating-quotes/quote-name.ejs", {quote:alternatingQuote.alternatingQuotes[0]}) %>
					<% } else { %>
					<span data-localize="modules.quotes.quotes-options-without-colon">Quote options</span>
					<% } %> </h2>
				<% if(alternatingQuote.isSingleQuote) { %>
				<aside>
					<%== $.View("templates/quotes/alternating-quotes/quote-status.ejs", {quote:alternatingQuote.alternatingQuotes[0]}) %>
				</aside>
				<% } %>

			</header>
		</section>
	</div>
</div>

<div class="row">
	<div class="span4 column right">

		<div class="module module-sidebar module-summary module-quote-summary">
			<section class="content">
				<% if(alternatingQuote.isSingleQuote) { %>
				<% var quote = alternatingQuote.alternatingQuotes[0]; %>
				<div class="summary">
					<dl>
						<% if(quote.workflow!=null || quote.service!=null){ %>
						<dt data-localize="modules.quotes.service">Service</dt>
						<dd>
							<% if(quote.service!=null) { %>
							<%= quote.service %>
							<% } else { %>
							<%= quote.workflow %>
							<% } %>
						</dd>
						<% } %>

						<% if(quote.specialization!=null && quote.specialization!="") { %>
						<dt data-localize="modules.quotes.specialization">Specialization</dt>
						<dd><%= quote.specialization %></dd>

						<% } %>
						<% if(quote.languageCombinationsString!=null && quote.languageCombinationsString!=''){ %>
						<dt data-localize="general.language-pairs">Language pairs</dt>
						<dd><%= quote.languageCombinationsString %></dd>
						<% } %>
					</dl>
				</div>
				<% } %>

				<% if(typeof this.alternatingQuote.customerContactPerson!= 'undefined') { %>

				<div class="contacts">
					<i class="shadow shadow-top"></i>
					<label data-localize="general.contact-person">Contact person</label>

					<div class="contact-info card">
						<div class="profile-pic pull-left">
							<img style="width:48px;" src="<%= this.alternatingQuote.customerContactPerson.avatar %>" onerror="setDefaultAvatar2(this)"/>
						</div>
						<div class="details">
							<h4 class="name contact-details"><%= this.alternatingQuote.customerContactPerson.name %></h4>
						</div>
					</div>
					<% if(!_.isEmpty(this.alternatingQuote.additionalContacts)) { %>
					<label data-localize="general.additional-contacts">Additional contacts</label>
					<ul class="additional-contacts">
						<% _.each(this.alternatingQuote.additionalContacts, function(additionalContact) { %>
						<li><%= additionalContact.name %></li>
						<% }) %>
					</ul>
					<% } %>
				</div>
				<% } %>
				<div class="pm-info">
					<span data-localize="general.sales-person">Sales person</span>:
					<span class="name bc-enabled"
											data-user="<%= this.alternatingQuote.salesPerson.id %>"><%= this.alternatingQuote.salesPerson.name %></span>
				</div>

			</section>
		</div>

	</div>
	<div class="span8 column left">

		<section class="content single-quote-view alternating-quote-view">
			<% $.each(this.alternatingQuote.alternatingQuotes, function(i, quote){ %>

			<div class="quote-in-aq" quote-id="<%= quote.id %>">
				<% if(!alternatingQuote.isSingleQuote) { %>
				<header>
					<h3><%== $.View("templates/quotes/alternating-quotes/quote-name.ejs", {quote:quote}) %></h3>
					<aside><%== $.View("templates/quotes/alternating-quotes/quote-status.ejs", {quote:quote}) %></aside>
					<div class="clearfix"></div>
				</header>
				<% } %>
				<div class="content quote-content">
					<%== $.View("templates/quotes/alternating-quotes/quote-meta.ejs", {quote:quote, offices: offices, totalAgreed: quote.totalAgreed, isOnList: false}) %>
				</div>


				<% if(quote.status === "REQUESTED" || quote.status === "PENDING") { %>
				<%== $.View("templates/quotes/alternating-quotes/single-quote-requested.ejs", {quote:quote}) %>
				<% } %>

				<% if(quote.status === "SENT") { %>
				<%== $.View("templates/quotes/alternating-quotes/single-quote-sent.ejs", {quote:quote}) %>
				<% } %>

				<% if(quote.status === "REJECTED") { %>
				<%== $.View("templates/quotes/alternating-quotes/single-quote-rejected.ejs", {quote:quote}) %>
				<% } %>

				<% if(quote.status === "ACCEPTED" || quote.status === "ACCEPTED_BY_CUSTOMER") { %>
				<%== $.View("templates/quotes/alternating-quotes/single-quote-accepted.ejs", {quote:quote}) %>
				<% } %>


			</div>
			<% }) %>
			<% if(alternatingQuote.status === "SENT" && alternatingQuote.alternatingQuotes.length > 1 && permissionsTable['accept_and_reject_quote']) { %>
			<div class="offer-actions">
				<div class="field field-actions">
					<a class="btn btn-danger btn-large btn-reject-all-quotes">
						<span data-localize="modules.quotes.reject-all-quotes">Reject all quotes</span>
					</a>
				</div>
			</div>
			<% } %>

		</section>
		<section class="nav-actions">
			<a class="link-return pull-left" href="#!quotes/active/1"><i class="icon-return"></i>
				<span data-localize="modules.quotes.back-to-list">Back to quotes list</span></a>
		</section>
	</div>
</div>