 <section id="my-profile-info" person-id="<%= contactPerson.id %>">
    <header>
        <h2 data-localize="modules.my-account.personal-info">Personal info</h2>

    </header>
    <div class="content">
        <% if(contactPerson.id!=0) { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.profile-picture">Profile picture</div>

            <div class="controls">
              <form action="" id="change-avatar-form">
                  <div class="profile-pic">
                   <img src="<%= contactPerson.avatar %>" onerror="setDefaultAvatar2(this)">
                   </div>
                   <div class="actions">                         
                    <span class="btn btn-mini fileinput-button btn-primary">
                       <span data-localize="modules.my-account.change-profile-picture">Change profile picture</span>
                       <input type="file" name="file">
                   </span>
               </div>
               <div class="alert-wrapper">
               </div>
           </form>
       </div>
    </div>

    <% } %>

    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.first-name">First name</div>
        <div class="controls">
            <input type="text" value="<%= contactPerson.firstName %>" id="mp-firstName"/>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.last-name">Last name</div>
        <div class="controls">
            <input type="text" value="<%= contactPerson.lastName %>" id="mp-lastName"/>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.job-title">Job title</div>
        <div class="controls">
            <input type="text" value="<%= contactPerson.position %>" id="mp-position"/>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.e-mail">E-mail</div>
        <div class="controls">
            <input type="text" value="<%= contactPerson.email %>" id="mp-email" />
         </div>
     <div class="controls">

     </div>
    </div>


    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.use-customer-data">Use customer data</div>

        <div class="controls">
         <input type="checkbox" id="mp-use-partner-data"/>
     </div>
    </div>
    <div id="use-customer-data">

       <div class="control-group">
           <div class="control-label" data-localize="modules.my-account.phones">Phones</div>
          

       
           
           <% $.each(this.contactPerson.contact.phones, function(i, phone){ %>
            <div class="controls phone-controls">
                <div class="phone-number">
                    <input type="text" class="phone-number-input partner-data" value="<%= phone %>"/>
                    <% if(contactPerson.contact.phonesSMS[i]==1){ %>
                    <button class="sms-enable btn btn-mini active" data-toggle="button"><i class="icon-accept"></i> <span data-localize="general.sms-enabled">SMS enabled</span></button>
                    <% }else{ %>
                    <button class="sms-enable btn  btn-mini" data-toggle="button"><span data-localize="general.sms-enable">Enable SMS</span></button>
                    <% } %>
                    <a class="item-remove"><i class="icon-file-remove"></i></a>
                </div>
            </div>
            <% }) %>
           
           <div class="controls" <% if(this.contactPerson.contact.phones.length>=3) { %> style="display:none;" <% } %>>

            <a class="add-more" add="phone" >+ <span data-localize="modules.my-account.add-phone-number">Add phone number</span></a>
        </div>
    </div>
    <div class="control-group">
       <div class="control-label" data-localize="modules.my-account.fax">Fax</div>
       
       <div class="controls">
           <input type="text" value="<%= contactPerson.contact.fax %>" id="mp-fax" class="partner-data"/>
       </div>
    </div>
    </div>
    <div class="control-group actions">
        <a class="btn btn-small btn-cta" data-localize="general.save-changes">Save changes</a>
        <a class="btn btn-small btn-cancel" data-localize="general.cancel">Cancel</a>
    </div>
</div>
</section>