<table class="table table-striped tasks-table" id="resources-table">
	<thead>
		<tr>
			<th data-localize="general.name">Name</th>
			<th data-localize="general.system">System</th>
			<th data-localize="general.category">Category</th>
			<th data-localize="general.language-pair">Language pair</th>

		</tr>
	</thead>
	<tbody>

		<% $.each(resources, function(i, resource){ %>
		<tr>
			<td><%= resource.name %></td>
			<td><%= resource.system %></td>
			<td><%= resource.category %></td>
			<td>
				<%= resource.languageCombination.sourceLanguage.name %>
				&raquo;
				<%= resource.languageCombination.targetLanguage.name %>
			</td>
		</tr>

		<% }) %>


	</tbody>
</table>


<div class="pagination pagination-centered">

</div>