<section id="company-name-info" class="no-defined">
    <h2><%= companyInfo.name %></h2>
</section>

<section id="company-contact-info">
    <header>
        <h2 data-localize="modules.my-account.contact-info">Contact Info</h2>
        <span class="tools">
            <a class="btn btn-mini btn-edit"><i class="icon-id-edit"></i> <span data-localize="general.edit">Edit</span></a>
        </span>
    </header>
    <div class="content">

        <% if(companyInfo.contact.email!=null && companyInfo.contact.email!="") { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.e-mail">E-mail</div>
            <div class="controls"><p><a href="mailto:<%= companyInfo.contact.email %>" target="_self"><%= companyInfo.contact.email %></a></p></div>
        </div>
        <% } %>


        <% if(companyInfo.contact.www!=null && companyInfo.contact.www!="") { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.website">Website</div>
            <% if(companyInfo.contact.www.indexOf("http://")==0) { %>
                <div class="controls"><p><a href="<%= companyInfo.contact.www %>" target="_blank"><%= companyInfo.contact.www %></a></p></div>
            <% }else { %>
                <div class="controls"><p><a href="http://<%= companyInfo.contact.www %>" target="_blank"><%= companyInfo.contact.www %></a></p></div>
            <% } %>
        </div>
        <% } %>

        <% if(companyInfo.contact.phones.length>0) { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.phones">Phones</div>
            <div class="controls">
                <% $.each(companyInfo.contact.phones, function(i, phone){ %>

                <p><%= phone %></p>
                <% }) %>

            </div>
        </div>
        <% } %>
        
        <% if(companyInfo.contact.showMobile==true) { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.mobile">Mobile</div>
            <div class="controls"><p><%= companyInfo.contact.mobile %></p></div>
        </div>
        <% } %>

        <% if(companyInfo.contact.fax!=null && companyInfo.contact.fax!="") { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.fax">Fax</div>
            <div class="controls"><p><%= companyInfo.contact.fax %></p></div>
        </div>
        <% } %>
        
    </div>
</section>

<section id="billing-info">
    <header>
    <% if(companyInfo.useAddressAsCorrespondenceAddress==true) { %>
        <h2 data-localize="modules.my-account.billing-and-correspondence-address">Billing & Correspondence address</h2>
        <% }else{ %>
        <h2 data-localize="modules.my-account.billing-address">Billing address</h2>
        <% } %>
        <span class="tools">
            <a class="btn btn-mini btn-edit"><i class="icon-id-edit"></i> <span data-localize="general.edit">Edit</span></a>
        </span>
    </header>
    <div class="content">
       <% if(companyInfo.address.address!="" || companyInfo.address.address2!="") { %>
       <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.address">Address</div>
        <!-- This address should be built dynamically - input data are separated, see edit view -->
        <div class="controls">
            <p><%= companyInfo.address.address %><br/>
                <%= companyInfo.address.address2 %>
            </p>
        </div>
    </div>
    <% } %>
    <% if(companyInfo.address.city!="") { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.city-locality">City / Locality</div>
        <div class="controls"><p><%= companyInfo.address.city %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.address.postalCode!="") { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.zip-postal-code">Zip / Postal code</div>
        <div class="controls"><p><%= companyInfo.address.postalCode %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.address.country!=null) { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.country">Country</div>
        <div class="controls"><p><%= companyInfo.address.country.localizedName %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.address.province!=null) { %>

    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.state-province">State / Province</div>
        <div class="controls"><p><%= companyInfo.address.province.localizedName %></p></div>
    </div>

    <% } %>
</div>
	<% if(companyInfo.useAddressAsCorrespondenceAddress==false) { %>

	<header>
        <h2 data-localize="modules.my-account.correspondence-address">Correspondence Address</h2>
        <span class="tools">
            <a class="btn btn-mini btn-edit scroll-to-ca"><i class="icon-id-edit"></i> <span data-localize="general.edit">Edit</span></a>
        </span>
    </header>
     
    <div class="content">
    
    <% if(companyInfo.correspondenceAddress.address!="" || companyInfo.correspondenceAddress.address2!="") { %>
       <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.address">Address</div>
        
        <div class="controls">
            <p><%= companyInfo.correspondenceAddress.address %><br/>
                <%= companyInfo.correspondenceAddress.address2 %>
            </p>
        </div>
    </div>
    <% } %>
    <% if(companyInfo.correspondenceAddress.city!="") { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.city-locality">City / Locality</div>
        <div class="controls"><p><%= companyInfo.correspondenceAddress.city %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.correspondenceAddress.postalCode!="") { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.zip-postal-code">Zip / Postal code</div>
        <div class="controls"><p><%= companyInfo.correspondenceAddress.postalCode %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.correspondenceAddress.country!=null) { %>
    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.country">Country</div>
        <div class="controls"><p><%= companyInfo.correspondenceAddress.country.localizedName %></p></div>
    </div>
    <% } %>
    <% if(companyInfo.correspondenceAddress.province!=null) { %>

    <div class="control-group">
        <div class="control-label" data-localize="modules.my-account.state-province">State / Province</div>
        <div class="controls"><p><%= companyInfo.correspondenceAddress.province.localizedName %></p></div>
    </div>

    <% } %>
    
    </div>
    <% } %>
    
</section>

<section id="social-media-info" type="company">
    <header>
        <h2 data-localize="modules.my-account.social-media" >Social media</h2>
        <span class="tools">
            <a class="btn btn-mini btn-edit"><i class="icon-id-edit"></i> <span data-localize="general.edit">Edit</span></a>
        </span>
    </header>
    <div class="content">
	<% if(companyInfo.contact.socialMediaContacts.length>0){ %>
       <% $.each(companyInfo.contact.socialMediaContacts, function(i, socialMedia){ %>

       <div class="control-group">
           <div class="control-label ico-sm">

              <%= socialMedia.socialMedia.name.toLowerCase() %></div>
              <div class="controls"><p><span><%= socialMedia.contact %></span></p></div>
          </div>

          <% }) %>
		<% }else { %>
	   <i><span  data-localize="modules.my-account.no-social-networks">You haven't added any social medium yet.</span> <a class="btn-edit" data-localize="modules.my-account.click-to-edit">Click here to edit</a></i>
		<% } %>

      </div>
  </section>
