<section id="my-profile-info">
    <header>
        <h2 data-localize="modules.my-account.personal-info">Personal info</h2>
        <span class="tools">
            <a class="btn btn-mini btn-edit"><i class="icon-id-edit"></i> <span
                    data-localize="general.edit">Edit</span></a>
        </span>
    </header>
    <div class="content">
        <div class="control-group primary-info">
            <div class="profile-pic"><img src="<%= contactPerson.avatar %>" onerror="setDefaultAvatar2(this)">
            </div>
            <div class="details">
                <div class="name"><%= contactPerson.name %></div>
                <div class="job-title"><%= contactPerson.position %></div>

            </div>
        </div>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.e-mail">E-mail</div>
            <div class="controls">
                <p><a href="mailto:<%= contactPerson.email %>"><%= contactPerson.email %></a></p>
            </div>
        </div>

        <% if(this.contactPerson.contact.phones.length>0) { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.phones">Phones</div>
            <div class="controls">
                <% $.each(this.contactPerson.contact.phones, function(i, phone){ %>

                <p><%= phone %></p>
                <% }) %>
            </div>

        </div>
        <% } %>
        <% if(this.contactPerson.contact.fax!="") { %>
        <div class="control-group">
            <div class="control-label" data-localize="modules.my-account.fax">Fax</div>
            <div class="controls">
                <p><%= contactPerson.contact.fax %></p>
            </div>
        </div>
        <% } %>
    </div>

</section>
<section id="social-media-info" type="profile">
    <header>
        <h2 data-localize="modules.my-account.social-media">Social media</h2>
        <span class="tools">
            <a class="btn btn-mini btn-edit"><i class="icon-id-edit"></i> <span
                    data-localize="general.edit">Edit</span></a>
        </span>
    </header>
    <div class="content">

        <% $.each(this.contactPerson.contact.socialMediaContacts, function(i, socialMedia){ %>

        <div class="control-group">
            <div class="control-label ico-sm">


                <span class="icon-<%= socialMedia.socialMedia.name.toLowerCase() %>"></span>


                <%= socialMedia.socialMedia.name.toLowerCase() %></div>
            <div class="controls">
                <p><span><%= socialMedia.contact %></span></p>
            </div>
        </div>

        <% }) %>
    </div>
</section>