  <header>
                                    <h2 data-localize="modules.my-account.correspondence-address">Correspondence Address</h2>
                                    
                                </header>
<div class="control-group">
						
                                        <div class="control-label" data-localize="modules.my-account.address-line-1">Address line 1</div>
                                        <!-- This address should be built dynamically - input data are separated, see edit view -->
                                        <div class="controls">
                                           <input type="text" class="input-large" id="bi2-address" value="<%= companyInfo.correspondenceAddress.address %>"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="control-label" data-localize="modules.my-account.address-line-2">Address line 2</div>
                                        <!-- This address should be built dynamically - input data are separated, see edit view -->
                                        <div class="controls">
                                           <input type="text" class="input-large" id="bi2-address2" value="<%= companyInfo.correspondenceAddress.address2 %>"/>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="control-label" data-localize="modules.my-account.city-locality">City / Locality</div>
                                        <div class="controls"><input type="text" value="<%= companyInfo.correspondenceAddress.city %>" id="bi2-city" /></div>
                                    </div>

                                    <div class="control-group">
                                        <div class="control-label" data-localize="modules.my-account.zip-postal-code">Zip / Postal code</div>
                                        <div class="controls"><input type="text" class="input-small" value="<%= companyInfo.correspondenceAddress.postalCode %>" id="bi2-postal" /></div>
                                    </div>

                                    <div class="control-group">
                                        <div class="control-label" data-localize="modules.my-account.country">Country</div>
                                        <div class="controls">
                                            <select class="chosen-process" id="bi2-select-country">
                                            	<% if(companyInfo.address.country==null || companyInfo.address.country.id==null || companyInfo.address.country.id==0) { %>
                                            		<option value="0">- NA -</option>
                                            		<% } %>
                                                <% $.each(this.countries, function(i, country){ %>
                                                	
                                    				<option value="<%= country.id %>"><%= country.localizedName %></option>
                                    			<% }) %>
                                            </select></div>
                                    </div>

                                    <div class="control-group">
                                        <div class="control-label" data-localize="modules.my-account.state-province">State / Province</div>
                                        <div class="controls">
                                            <select class="chosen-process" id="bi2-select-province">
                                                <% $.each(this.provinces, function(i, province){ %>
                                    				<option value="<%= province.id %>"><%= province.localizedName %></option>
                                    			<% }) %>
                                            </select>
                                        </div>
                                    </div>