
                
<div class="module module-widget-placeholder btn-add-widget" data-widget-size="<%= widgetSize %>" data-pre-row="<%= widgetRow %>" data-pre-col="<%= widgetCol %>">
	<section class="content">
    	<span data-widget-size="<%= widgetSize %>" data-pre-row="<%= widgetRow %>" data-pre-col="<%= widgetCol %>">
        	<span class="icon-add-widget"></span><br/>
            <span data-localize="modules.dashboard.add-widget">Add widget</span>
        </span>
    </section>
</div>