<div data-status="active" class="module module-widget-new module-projects">
                <header>
                  <span><a <% if(permissionsTable['projects_browse']==1){ %> href="#!projects/active/1"  <% } %> data-localize="<%= localizeHeader %>">Recent projects</a></span>
                  <span class="tools">
                   <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section class="content">
                <ul class="entity-list projects-entity-list">


                <% $.each(projects, function(i, project){ %>



                           <li <% if(project.status=="OPENED") { %> class="project-opened" <% } else { %> class="quote-p" <% } %>>
                           <span class="name">
                            <%== $.View("templates/includes/project_name.ejs", {project:project}) %>
		                   </span>
		                    <span class="info">
		                      <big><%= project.totalAgreed.formattedAmount %></big>

		                     <% if(permissionsTable['project_view']==1){ %>
		                      <a class="preview-link" href="#!project/<%= project.id %>" title="View project" data-localize-2="modules.projects.view-project" rel="tooltip-dash"><i class="icon-preview"></i></a>
		                     <% } %>
		                    </span>
		                  </li>



                          <% }) %>




                </ul>
                </section>
              </div>