<div class="module module-widget-new module-cr">
	<header>
		<span><a data-localize="modules.projects.awaiting-reviews">Awaiting reviews</a></span>
		<span class="tools">
			<% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
		</span>
	</header>
	<section class="content content-scrollable">
		<ul class="entity-list reviews">
			<% $.each(projects,function(i,project){ %>
			<% $.each(project.tasksForReview, function(j,task){ %>
			<li class="task">
				<header>
					<div class="meta">
						<a href="#!project/<%= project.id%>/task/<%= task.id %>"><span data-localize="modules.projects.task-id"
						                                                               data-task-id="<%= task.idNumber %>"
						                                                               class="task-id-number">Task {id}</span></a><br>
						<% if(permissionsTable['project_view']==1){ %>
						<a href="#!project/<%= project.id%>" class="project-ref">
							<% if(project.projectName!=null && $.trim(project.projectName)!="") { %>
							<% if(project.projectName.length>102){ %>
							<%= project.projectName.substr(0,99)+"..." %>
							<% } else{ %>
							<%= project.projectName %>
							<% } %>


							<% }else { %>
							<%= project.id %>
							<% } %>
						</a>
						<% }else{ %>
						<span class="project-ref">
							<% if(project.projectName!=null && $.trim(project.projectName)!="") { %>

							<% if(project.projectName.length>102){ %>
							<%= project.projectName.substr(0,99)+"..." %>
							<% } else{ %>
							<%= project.projectName %>
							<% } %>

							<% }else { %>
							<%= project.id %>
							<% } %>

							<% } %>
						</span>
					</div>
					<div class="actions">
						<% if (task.filesForReview.length>0) { %>
						<a href="#!project/<%= project.id%>/task/<%= task.id %>/review"
						   class="btn btn-mini btn-cta review-localize"
						   data-localize="modules.projects.review-0-files"
						   data-number-of-reviews="<%= task.filesForReview.length %>">Review {0} files...</a>
						<% } else { %>
						<a href="#!project/<%= project.id%>/task/<%= task.id %>/review"
						   class="btn btn-mini btn-cta review-localize"
						   data-localize="modules.projects.review">Review</a>
						<% } %>
					</div>
				</header>
				<ul class="reviews-list">
					<% $.each(task.filesForReview, function(j,file){ %>
					<% if(file.onlineReview) { %>
					<li>
						<div class="confirmation-download">
							<a href="<%= file.fileUrl %>" target="_blank"><i class="icon icon-online-review-mini"
							                                                 rel="tooltip"
							                                                 title="Online review"
							                                                 data-original-title="Online review"
							                                                 data-placement="top"
							                                                 data-localize-2="modules.tasks.online-review"></i> <%= file.fileName %></a>

							<div class="tools">
								<a href="<%= file.fileUrl %>" target="_blank">
									<% if(file.onlineReviewType == 'XTM'){ %>
									<i class="icon icon-xtm"></i> <span data-localize="general.xtm-review">Review in XTM</span>
									<% } %>
									<% if(file.onlineReviewType == 'MEMSOURCE'){ %>
									<i class="icon icon-preview"></i><span data-localize="general.memsource-review">Review in Memsource</span>
									<% } %>
								</a>
							</div>
						</div>
					</li>
					<% } else { %>
					<li><a href="<%= file.downloadURL %>"><%= file.fileName %></a></li>
					<% } %>
					<% }); %>
				</ul>
			</li>

			<% }); %>
			<% }); %>


		</ul>
	</section>
</div>