<div data-status="active" class="module module-widget-new module-quotes">
	<header>
		<span><a <% if(permissionsTable['quotes_browse']==1){ %> href="#!quotes/active/1" <% } %> class="module-header-text" data-localize="<%= localizeHeader %>">Recent quotes</a>
		</span>
		<span class="tools">
			<% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
		</span>
	</header>
	<section class="content">
		<ul class="entity-list quotes-entity-list">
			<% $.each(this.alternatingQuotes, function(i, alternatingQuote){ %>
			<li
			<% if(alternatingQuote.status=="SENT") { %> class="quote-wfa" <% } else { %> class="quote-p" <% } %>>
			<span class="name alternating-quote-name">

				<%== $.View("templates/quotes/alternating-quotes/quote-name.ejs", {quote:alternatingQuote}) %>
			</span>
			<span class="info">
				<big>
					<% if(alternatingQuote.status !=="PENDING" && alternatingQuote.status !== "REQUESTED") { %>
						<% if(!alternatingQuote.isSingleQuote) { %><span data-localize="general.from" class="amount-from">from</span><% } %><%= alternatingQuote.minimalTotalAgreed.formattedAmount %>
					<% } %>
				</big>

				<% if(permissionsTable['quote_view']==1){ %>
				<a rel="tooltip-dash"
							class="preview-link"
							href="#!quote/<%= alternatingQuote.id %>"
							title="View quote"
							data-localize-2="modules.quotes.view-quote"><i class="icon-preview"></i></a>
				<% } %>
			</span>
			</li>
			<% }) %>
		</ul>
	</section>
</div>