<div class="modal-header">
                <h2 data-localize="modules.tour.step1.pz-quick-tour"></h2>
                <div class="logo"><img src="" onerror="setDefaultLogo(this)"/></div>
            </div>
            <div class="modal-body">
               <div class="content tour-s01" >
                  
                  <header data-localize="modules.tour.step1.basic-account-info">Basic account information</header>
                  <form class="form-horizontal">
                  <div class="wrapper">
                    <div class="column column-1">
                        <div class="prfile-pic"><img src="<%= buildNumber %>static/img/js_img/default/pp_add.png" /></div>
                    </div>

                    <div class="column column-2">

                        <div class="control-group">
                            <div class="controls">
                                <input type="text" placeholder="First name" id="tour-first-name" value="<%= contactPerson.firstName %>" data-localize-2="modules.tour.step1.first-name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" placeholder="Last name" id="tour-last-name"  value="<%= contactPerson.lastName %>" data-localize-2="modules.tour.step1.last-name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" placeholder="Job title" id="tour-position" value="<%= contactPerson.position %>" data-localize-2="modules.tour.step1.position" />
                            </div>
                        </div>

                        <div class="control-group email-wrapper">
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><span class="icon-mail"></span></span><input type="text" placeholder="E-mail" id="tour-email" value="<%= contactPerson.email %>" data-localize-2="modules.tour.step1.e-mail"/>
                                </div>
                            </div>
                        </div>

                       

                    </div>

                    <div class="column column-3">
						<!-- 
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><span class="icon-facebook"></span></span><input type="text" placeholder="Facebook ID"/>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><span class="icon-twitter"></span></span><input type="text" placeholder="Twitter ID"/>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><span class="icon-linkedin"></span></span><input type="text" placeholder="LinkedIn ID"/>
                                </div>
                            </div>
                        </div>
						 -->
                    </div>

                    <div class="column-4">
                        <div class="note-info"><i class="icon-info"></i> <span data-localize="modules.tour.step1.use-my-account">Use My account menu to modify account information later</span></div>
                    </div>


                  </div></form>

               </div>
            </div>

            
            <div class="modal-footer" id="tour-step-1">
               <a class="back-link pull-left btn-back btn btn-small" data-localize="modules.tour.step1.previous-step">Previous step</a>
               <div class="tools">
                <a class="btn btn-small btn-next"><span  data-localize="modules.tour.step1.dashboard-overview">Dashboard overview</span> <i class="icon-forward-step"></i></a>

                <a class="skip-link" data-dismiss='modal' data-localize="modules.tour.skip-partner-zone-tour">Skip Partner Zone tour</a>
                

               </div>
            </div>