<div class="modal modal-iconic modal-task modal-big" id="bigModal" style="display:none;">
    <div class="modal-header">
        <h3><%= idNumber %></h3>
        <div class="icon-wrapper">
            <i class="icon icon-task"></i>
        </div>
        <button type="button" class="close" data-dismiss="modal">×</button>

        <div class="filters">
            <ul>
                <% if(hasInputWorkfiles || (!hasInputWorkfiles && !hasInputResources && typeof hasActivitiesAwaitingReview!='undefined' && hasActivitiesAwaitingReview)) { %>
                <li class="files"><a href="javascript:void(0);" data-target="files"><i class="icon icon-files"></i>
                    <% if(!hasInputWorkfiles && !hasInputResources && hasActivitiesAwaitingReview && typeof hasActivitiesAwaitingReview!='undefined') { %>
                    <span data-localize="modules.tasks.summary-tab">Task summary</span>
                    <% }else{ %>
                    <span data-localize="general.files">Files</span>
                    <% } %>
                </a></li>
                <% } else { %>
                <li class="files disabled"><a data-target="files"><i class="icon icon-files"></i> <span data-localize="general.no-files">No files</span></a></li>
                <% } %>


				<% if(sessionObject.showResources !== false) { %>
	                <% if(hasInputResources) { %>
	                <li class="resources"><a href="javascript:void(0);" data-target="resources"><i class="icon icon-resources"></i> <span data-localize="general.resources">Resources</span></a></li>
	
	                <% } %>
	            <% } %>

                <% if(typeof hasActivitiesAwaitingReview!='undefined' && hasActivitiesAwaitingReview) { %>
                <li class="reviews">
                    <a data-target="review"><i class="icon icon-reviews"></i> <span data-localize="modules.tasks.awaiting-reviews-tab">Awaiting reviews</span></a>
                </li>
                <% } %>

            </ul>
        </div>
    </div>

    <div class="modal-body">
        <aside class="task-summary">
            <header><i class="indicator"></i><span data-localize="modules.tasks.details">Task details</span></header>
            <dl>
                <% if (typeof deadline != 'undefined' && deadline!=null) { %>
                <dt><i class="icon icon-task-deadline" rel="tooltip" data-original-title="Deadline" data-placement="top" data-localize-2="general.deadline"></i></dt>
                <dd><%= deadline.formatted %></dd>
                <% } %>
                <% if(languageCombination.sourceLanguage.symbol != "Any" || languageCombination.targetLanguage.symbol != "Any") { %>
                <dt><i class="icon icon-task-lang-combination" rel="tooltip"  data-original-title="Language pairs" data-placement="top" data-localize-2="general.langs-comb"></i></dt>
                <dd><%= languageCombination.sourceLanguage.displayName %> &raquo; <%= languageCombination.targetLanguage.displayName %></dd>
                <% } %>
                <% if (name!="") {%>
                <dt><i class="icon icon-task-name" rel="tooltip"  data-original-title="Task name" data-placement="top" data-localize-2="modules.tasks.name"></i></dt>
                <dd><%= name %></dd>
                <% } %>

                <dt class="empty"></dt>
                <dd class="task-total"><%= totalAgreed.formattedAmount %></dd>
            </dl>
            <div class="vat-info">
                <i class="h-icon-info">i</i> <span data-localize="general.no-vat-info">Listed prices do not include VAT.</span>
            </div>

            <i class="shadow"></i>
        </aside>

        <div class="content task-files" data-source="files">
        </div>
        <div class="content task-resources" data-source="resources">
        </div>
        <div class="content" data-source="review">

        </div>
        <div class="content empty" data-source="empty">
            <div class="empty-placeholder">
                <i class="icon icon-no-files"></i><br><br>
                <span data-localize="general.general">This task has no files or resources</span>
            </div>
        </div>

    </div>
</div>