<% if (typeof nofiles != 'undefined') { %>

<li class="last">
    <div class="file-row-wrapper file-row-collapsed file-row-file" data-localize="general.no-files">No files</div>
</li>

<% }else{ %>
<li listid="<%= name %>-<%= depth %>" class="<% if(lastLink) { %>last <% } %><% if(expandableLink || type=="zip") { %>expandable<% } %>" >
<div class="file-row-wrapper file-row-collapsed file-row-<%= type %>" fileid="<%= fileID %>">
    <% if(type=="file"){ %>
    <% if(downloadable==true) { %>
    <a class="file-download" href="<%= downloadLink %>">
            <span class="file-direct-wrapper">
              <%= name %>
            </span>
    </a>
    <% }else{ %>
          <span>
            <span class="file-direct-wrapper">
              <%= name %>
            </span>
          </span>
    <% } %>

    <% }else if(type=="task"){ %>
    <a href="javascript:void(0);" class="expand"><i class="icon-collapse"></i> <i class="icon-file-type"></i>

        <% if(typeof languageCombination != 'undefined' && languageCombination.sourceLanguage.symbol!="-") { %>
        <% if(languageCombination.sourceLanguage.symbol != "Any" || languageCombination.targetLanguage.symbol != "Any") { %>
        <span class="language-combination">[<%= languageCombination.sourceLanguage.symbol %>»<%= languageCombination.targetLanguage.symbol %>]</span>
        <% } %>
        <% } %>

          <span class="file-direct-wrapper">
            <%= name %>
          </span>
    </a>

    <% }else{ %>
    <a href="javascript:void(0);" class="expand"><i class="icon-collapse"></i> <i class="icon-file-type"></i>
          <span class="file-direct-wrapper">
            <%= name %>
          </span>
    </a>
    <% } %>

    <div class="action-fields">
        <div class="field">
            <% if(downloadable==true && downloadLink) { %>
            <a class="file-download" href="<%= downloadLink %>"><i class="icon-download-blue"></i> <span data-localize="general.download">Download</span></a>

            <% }else{ %>
            -
            <% } %>
        </div>
    </div>
</div>

<ul class="level1 sub-tree" style="display:none;">
</ul>

</li>
<% } %>