<div class="row project-single-opened">
	<div class="span8">

		<section class="module section-header">
			<header>
				<a class="return-button" href="#!projects/active/1"><span>&laquo;</span></a>

				<% if(project.name!=null && $.trim(project.name)!="") { %>
				<h2><span>
					<% if(project.name.length>52){ %>
					<a title="<%= project.name %>"><%= project.name.substr(0,49)+"..." %></a>
					<% } else{ %>
					<%= project.name %>
					<% } %>

				</span></h2>

				<% }else{ %>
				<h2><span data-localize="general.id">ID</span><span data-localize="general.colon">:</span> <span><%= project.idNumber %></span></h2>
				<% } %>


				<span class="status-indicator">
					<span data-localize="general.status">Status</span><span data-localize="general.colon">:</span>
					<% if(project.status=="OPENED"){ %>
					<span class="label label-project-open" data-localize="modules.projects.status.opened">Opened</span>
					<% } %>

					<% if(project.status=="CANCELLED"){ %>
					<span class="label label-project-cancelled" data-localize="modules.projects.status.canceled">Canceled</span>
					<% } %>

					<% if(project.status=="CLOSED"){ %>
					<span class="label label-project-closed" data-localize="modules.projects.status.closed">Closed</span>
					<% } %>

					<% if(project.status=="CLAIM"){ %>
					<span class="label label-project-complaint" data-localize="modules.projects.status.complaint">Complaint</span>
					<% } %>

					<% if(project.status=="REQUESTED_PROJECT"){ %>
					<span class="label label-project-requested" data-localize="modules.projects.status.requested">Requested</span>
					<% } %>

				</span>
			</header>
		</section>
	</div>
</div>

<div class="row">
	<div class="span4 column right">

		<!------------------------------------------ -->

		<div class="module module-sidebar module-summary module-project-summary">

			<header>
				<h1 class="id">
					<span data-localize="general.id">ID</span><span data-localize="general.colon">:</span> <%= project.idNumber %>
					<% if(project.refNumber != null && $.trim(project.refNumber)!="") { %>
					<br>
					<span data-localize="general.ref-no">Ref. No.</span><span>: </span><%= project.refNumber %>
					<% } %> </h1>

				<h1 class="cost">
					<% if(project.status !== "REQUESTED_PROJECT"){ %>
						<% if(sessionObject.showVatInfo==true){ %>
						<i class="icon-info-small excl-vat"
						rel="tooltip"
						title="excl. VAT"
						data-original-title="excl. VAT"
						data-placement="top"
						data-localize-2="general.excl-vat"></i>
						<% } %>
						<small data-localize="general.total-cost">Total cost</small>
						<br>
						<%= project.totalAgreed.formattedAmount %>
					<% } %>
				</h1>
			</header>

			<section class="content">
				<div class="time-progress">
					<div class="start-date"><span data-localize="general.start-date">Start date</span><span data-localize="general.colon">:</span> <%= project.startDate.formatted %></div>
					<div class="progress">
						<div class="bar" style="width: <%= barWidth %>%" data-progress="<%= barWidth %>"></div>
					</div>
					<% if(project.deadline!=null && project.deadline.formatted!=null){ %>
					<div class="end-date"><span data-localize="general.deadline">Deadline</span>: <%= project.deadline.formatted %></div>
					<% } %>
				</div>
				<% if(project.actualDeliveryDate) { %>
				<div class="summary">
					<dl>
						<dt data-localize="modules.projects.actual-delivery-date-and-time">Actual Delivery Date and Time</dt>
						<dd>
							<%= project.actualDeliveryDate.formatted %>
						</dd>
					</dl>
				</div>
				<% } %>

				<% if(typeof project.contactPersons!='undefined' && project.contactPersons!=undefined) { %>
				<div class="contacts">
					<i class="shadow shadow-top"></i>
					<label data-localize="general.contact-person">Contact person</label>

					<div class="contact-info card">
						<div class="profile-pic pull-left">
							<img style="width:48px;" src="<%= project.contactPerson.avatar %>" onerror="setDefaultAvatar2(this)"/>
						</div>
						<div class="details">
							<h4 class="name" user="<%= project.contactPersons.contactPerson.id %>"><%= project.contactPersons.contactPerson.name %></h4>
							<% if (project.contactPersons.contactPerson.id == project.contactPersons.sendBackTo.id) { %>
							<small><i class="icon icon-send-back-to"></i> <span data-localize="general.result-files-info">Result files will be sent to this contact</span></small>
							<% } %>
						</div>
					</div>
					<% if (project.contactPersons.contactPerson.id!=project.contactPersons.sendBackTo.id || project.contactPersons.additionalContacts.length>0 ) { %>
					<label data-localize="general.additional-contacts">Additional contacts</label>
					<ul class="additional-contacts">
						<% if(project.contactPersons.sendBackTo.length!=0 && project.contactPersons.contactPerson.id!=project.contactPersons.sendBackTo.id) { %>
						<li class="send-back-to-item"
						    rel="tooltip"
						    title="Result files will be sent to this contact"
						    data-original-title="Result files will be sent to this contact"
						    data-placement="top"
						    data-localize-2="general.result-files-info"><i class="icon icon-send-back-to"></i> <%= project.contactPersons.sendBackTo.name %>
						</li>
						<% } %>
						<% $.each(project.contactPersons.additionalContacts, function(i, contactPerson){ %>
						<li><%= contactPerson.name %></li>
						<% }) %>


					</ul>
					<% } %>

				</div>
				<% } %>

				<div class="pm-info">
					<span data-localize="general.pm">Project Manager</span><span data-localize="general.colon">:</span> <span class="name bc-enabled"
					                                                                                                          data-user="<%= project.projectManager.id %>"><%= project.projectManager.name %></span>
				</div>

				<% if(project.projectConfirmationAvailable) { %>
				<div class="documents-download">

					<ul>
						<li>
							<div class="confirmation-download"><span><i class="icon-download-pdf"></i> <a class="trigger"
							                                                                              id="download-confirmation"
							                                                                              data-localize="modules.projects.confirmation"
							                                                                              target="_blank">Project confirmation (PDF)</a></span>
								<% if(pdf_info.acrobat!=null){ %>
								<div class="tools">
									<a href="" id="download-confirmation-view" target="_blank">
										<i class="icon icon-preview"></i> <span data-localize="general.view">View</span>
									</a>
									<a href="" id="download-confirmation-download">
										<i class="icon icon-download"></i> <span data-localize="general.download">Download</span>
									</a>
								</div>
								<% } %>
							</div>
						</li>
					</ul>
				</div>
				<% } %>
			</section>
		</div>


		<!------------------------------------------ -->


	</div>

	<div class="span8 column left">

		<section class="content single-project-view">
			<div class="module module-project module-single-view project-pending"
			     projectID="<%= project.idNumber %>"
			     projectID2="<%= project.id %>"
			     data-totalagreed="<%= project.totalAgreed.formattedAmount %>">
				<div class="content">
					<% if(project.status=="CANCELLED"){ %>
					<section class="status-information">
						<div class="content">
							<div class="field field-info"
							     data-localize="modules.projects.project-cancelled">This project has been cancelled. If you reconsidered, contact your Project Manager.
							</div>
						</div>
					</section>
					<% } %>
					<div class="content-wrapper">
						<% if(project.showCustomFields() || (settings.budgetCodesEnabled && project.budgetCode)) { %>
						<div class="meta-wrapper">
							<div class="meta-data">
								<div class="meta">
									<% _.each(project.availableCustomFields, function(customField) { %>
									<% if(customField.value) { %>
									<div class="meta-row">
										<div><%= customField.name %><span data-localize="general.colon">:</span></div>
										<div><%= customField.value %></div>
									</div>
									<% } %>
									<% }) %>
									<% if(settings.budgetCodesEnabled && project.budgetCode) { %>
									<div class="meta-row">
										<div><span data-localize="general.budget-code">Budget Code</span><span data-localize="general.colon">:</span></div>
										<div><%= project.budgetCode %></div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
						<% } %>
      <% if(project.customerNotes!=null && project.customerNotes!=""){ %>
      <div class="alert alert-warning alert-customer-notes">
       <div class="notes-placeholder"></div>
      </div>
      <% } %>

						<section class="tabs">
							<div class="tabs-header">
								<ul class="nav nav-tabs" id="myTab">
									<% if(project.hasInputWorkfiles || project.hasOutputFiles || 1==1) { %>
									<li class="active"><a class="tasks-tab-link" href="javascript:void(0);"><i class="icon-tasks"></i> <span data-localize="general.tasks">Tasks</span></a>
									</li>
									<% } else { %>
									<li class="disabled"><i class="icon-tasks"></i> <span data-localize="gseneral.no-tasks">No tasks</span></li>
									<% } %>
									<% if(project.hasInputWorkfiles || project.hasOutputFiles) { %>
									<li><a class="files-tab-link" href="javascript:void(0);"><i class="icon-files"></i> <span data-localize="general.files">Files</span></a></li>
									<% } else { %>
									<li class="disabled"><i class="icon-files"></i> <span data-localize="general.no-files">No files</span></li>
									<% } %>

									<% if(sessionObject.showResources !== false) { %>
									<% if(project.hasInputResources) { %>
									<li><a class="resources-tab-link" href="javascript:void(0);"><i class="icon-resources"></i>
										<span data-localize="general.resources">Resources</span></a></li>
									<% } else { %>
									<li class="disabled"><i class="icon-resources"></i> <span data-localize="general.no-resources">No resources</span></li>
									<% } %>
									<% } %>
								</ul>
								<% if(project.status === "CLOSED" || project.status === "CLAIM") { %>
								<div class="leave-feedback">
									<a data-localize="modules.projects.leave-feedback.open-modal-link">Leave Feedback</a>
								</div>
								<% } %>
							</div>

							<div class="tab-content">
								<div class="tab-pane  content-tasks" id="tasks1"></div>
								<div class="tab-pane  content-files" id="files1"></div>
								<div class="tab-pane content-resources" id="resources1"></div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section class="nav-actions">
			<a class="link-return pull-left" href="#!projects/active/1">
				<i class="icon-return"></i>
				<span data-localize="modules.projects.back-to-list">Back to projects list</span>
			</a>

		</section>