<%== $.View("templates/projects/projects_list_header.ejs",{}) %>


<section class="content projects-list">

	<% $.each(this.projects, function(i, project){ %>
	<div class="module module-project project-open <% if(project.awaitingCustomerReview){ %>project-cr<% } %> collapsed"
	     projectID="<%= project.idNumber %>"
	     projectID2="<%= project.id %>"
	     data-totalagreed="<%= project.totalAgreed.formattedAmount %>">
		<header	<% if(project.refNumber != null && $.trim(project.refNumber)!="") { %>class="with-ref-number"<% } %>>
		<% if(project.name!=null && $.trim(project.name)!="") { %>
		<h3>
			<span>

				<% if(permissionsTable['project_view']==1){ %> <a id="" class="" href="#!project/<%= project.id %>" title="<%= project.name %>"> <% } %>

				<% if(project.name.length>72){ %>
				<%= project.name.substr(0,69)+"..." %>
				<% } else{ %>
				<%= project.name %>
				<% } %>
				<% if(permissionsTable['project_view']==1){ %></a><% } %>

			</span>
		</h3>
		<% }else{ %>
		<h3>
			<span>
				<span data-localize="general.id">ID</span><span data-localize="general.colon">:</span>
				<% if(permissionsTable['project_view']==1){ %><a href="#!project/<%= project.id %>"><% } %>
				<%= project.idNumber %>
				<% if(permissionsTable['project_view']==1){ %></a><% } %>
			</span>
		</h3>
		<% } %>

		<dl class="meta">

			<dt class="ref-no"><span data-localize="general.id">ID</span><span data-localize="general.colon">:</span></dt>
			<dd class="ref-no"><%= project.idNumber %>&nbsp;</dd>
			<% if(settings.budgetCodesEnabled && project.budgetCode) { %>
			<dt class="ref-no"><span data-localize="general.budget-code">Budget Code</span><span data-localize="general.colon">:</span></dt>
			<dd class="ref-no"><%= project.budgetCode %></dd>
			<% } %>
			<% if(project.refNumber != null && $.trim(project.refNumber)!="") { %>
			<dt class="ref-no"><span data-localize="general.ref-no">Ref. No.</span><span data-localize="general.colon">:</span></dt>
			<dd class="ref-no"><%= project.refNumber %></dd>
			<% } %>

			<dt class="pm"><span data-localize="general.pm">Project Manager</span><span data-localize="general.colon">:</span></dt>
			<dd class="pm"><a class="contact-details"
			                  user="<%= project.projectManager.id %>"
			                  user-name="<%= project.projectManager.name %>"
			                  user-position="<%= project.projectManager.position %>"><%= project.projectManager.name %></a></dd>

			<% if (offices.length > 1) { %>
			<dt class="office"><span data-localize="general.office">Office</span><span data-localize="general.colon">:</span></dt>
			<dd class="module-office office">
				<%= project.office.name %>
				<i class="icon-id-edit"></i>
			</dd>
			<% } %>
		</dl>
		</header>

		<div class="content">
			<section class="action-bar status-bar">
				<dl class="field field-status">
					<dt data-localize="general.status">Status</dt>
					<dd>
						<% if(project.status === "OPENED"){ %>
						<% if(project.awaitingCustomerReview){ %>
						<span class="label label-project-review last" data-localize="modules.projects.status.customer-review">Awaiting reviews</span>
						<% } else { %>
						<span class="label label-project-open last" data-localize="modules.projects.status.opened">Opened</span>
						<% } %>
						<% } %>
						<% if(project.status === "CANCELLED"){ %>
						<span class="label label-project-cancelled last" data-localize="modules.projects.status.canceled">Canceled</span>
						<% } %>
						<% if(project.status === "CLOSED"){ %>
						<span class="label label-project-closed last" data-localize="modules.projects.status.closed">Closed</span>
						<% } %>

						<% if(project.status === "CLAIM"){ %>
						<span class="label label-project-complaint" data-localize="modules.projects.status.complaint">Complaint</span>
						<% } %>

						<% if(project.status=="REQUESTED_PROJECT"){ %>
						<span class="label label-project-requested" data-localize="modules.projects.status.requested">Requested</span>
						<% } %>
					</dd>
				</dl>

				<div class="field field-separator"></div>

				<dl class="field field-progress">
					<dt data-localize="modules.projects.progress">Progress</dt>
					<dd>
						<div class="progress progress-mini time-progress">
							<div class="bar" style="width: <%= project.widthOfBar %>%" data-progress="<%= project.widthOfBar %>"></div>
						</div>
					</dd>
				</dl>

				<% if(project.projectConfirmationAvailable) { %>
				<div class="field field-download">
					<div class="confirmation-download confirmation-download-project"><span><i class="icon-download-pdf"></i>
						<a href="<%= baseURL %>projects/<%= project.id %>/confirmation<% if(pdf_info.acrobat!=null) { %>?inline=true<% } %>"
						   data-localize="modules.projects.confirmation" <% if(pdf_info.acrobat!=null) { %>target="_blank"<% } %>>Project confirmation (PDF)</a></span>
						<% if(pdf_info.acrobat!=null){ %>
						<div class="tools">
							<a href="<%= baseURL %>projects/<%= project.id %>/confirmation?inline=true" target="_blank"><i class="icon icon-preview"></i>
								<span data-localize="general.view">View</span></a>
							<a href="<%= baseURL %>projects/<%= project.id %>/confirmation"><i class="icon icon-download"></i> <span data-localize="general.download">Download</span></a>
						</div>
						<% } %>
					</div>
				</div>
				<% } %>

			</section>
		</div>

		<% if(permissionsTable['project_view']==1){ %>
		<section class="action-bar">
			<span class="btn-expand"><i class="icon-details"></i></span>
		</section>
		<% } %>
	</div>
	<% }) %>

	<div class="pagination pagination-centered"></div>
</section>