<div class="contact-details bc" id="" style="opacity:0;">
    <div class="contact-info-new actions-enabled">
        <div class="profile-pic pull-left"><img src="<%= contactData.avatar %>" onerror="setDefaultAvatar2(this)" width="53" height="53" /></div>
        
        <div class="details">
            <a class="name contact-details" user="<%= contactData.id %>"><%= contactData.name %></a>
            <div class="job-title"><%= contactData.position %></div>
        </div>
        <% if(contactPersons[contactData.id]) { %>
        <div class="actions">
            <a class="btn btn-mini quick-message" user="<%= contactData.id %>"><i class="icon-quick-message-white"></i> </a>
        </div>
        <% } %>
    </div>
    <div class="meta">
        <% if (contactData.contact.phones.length!=0) { %>
        <span class="phone"><i class="icon icon-mini-phone"></i> <%= contactData.contact.phones[0] %></span>
        <% } %>
        <span class="e-mail"><i class="icon icon-mini-mail"></i> <a href="mailto:<%= contactData.contact.email %>"><%= contactData.contact.email %></a></span>
    </div>
    <div class="arrow">▾</div>
</div>