<div class="modal modal-iconic modal-contact-details" style="display:none;" id="myModal">
    <div class="modal-header">
        <h3><%= contactData.name %><small><%= contactData.position %></small></h3>
        <div class="icon-wrapper">
            <img src="<%= contactData.avatar %>" onerror="setDefaultAvatar2(this)">
        </div>
        <button data-dismiss="modal" class="close" type="button">×</button>
    </div>

    <div class="modal-body">
        <div class="content contact-details">
            <div class="column left">
                <section class="emails">
                    <header data-localize="general.e-mail">E-mail</header>
                    <ul>
                        <li><a href="mailto:<%= contactData.contact.email %>"><%= contactData.contact.email %></a></li>
                    </ul>
                </section>

                <% if(contactData.contact.phones.length>0) { %>
                <section class="phone-numbers">

                    <header data-localize="modules.my-account.phone-number">Phone number</header>
                    <ul>

                        <% for(var i=0; i< contactData.contact.phones.length; i++){ %>
                        <li><%= contactData.contact.phones[i] %></li>
                        <% } %>

                    </ul>
                </section>
                <% } %>


            </div>
            <div class="column right">

                <% if(contactData.contact.socialMediaContacts.length>0) { %>
                <section class="im-social-media">
                    <header data-localize="general.im-and-social-media">IM &amp; Social media</header>
                    <ul>
                        <% $.each(contactData.contact.socialMediaContacts, function(i, socialMedia){ %>
                        <li>
                            <span class="icon-<%= socialMedia.socialMedia.name.toLowerCase() %>"></span><%= socialMedia.socialMedia.name %>:
                            <span><%= socialMedia.contact %></span>
                        </li>
                        <% }) %>
                    </ul>
                </section>
                <% } %>
            </div>
        </div>
    </div>
</div>