<div class="module module-contact">
                        <header>
                            <h2 data-localize="modules.contact.header">Contact</h2>
                            <span class="tools">
                                <a class="btn btn-mini" id="instant-contact" href="javascript:void(0);"><i class="icon-instant-contact"></i> <span data-localize="modules.contact.contact-button">Contact</span></a>
                            </span>
                        </header>
                        <section class="content">
                            <div class="contact-info">
                                <h3 data-localize="modules.contact.account-responsible">Your account responsible</h3>
                                <div class="profile-pic pull-left"><a class="contact-details" user="<%= salesPerson.id %>"><img style="width:63px;" src="<%= salesPerson.avatar %>" onerror="setDefaultAvatar2(this)"></a></div>
                                <div class="details">
                                    <a class="name contact-details  bc-enabled"  user="<%= salesPerson.id %>"><%= salesPerson.name %></a>
                                    <div class="job-title"><%= salesPerson.position %></div>
                                    <div class="actions">
                                        <a class="btn btn-mini quick-message" user="<%= salesPerson.id %>"><i class="icon-quick-message"></i> <span data-localize="modules.contact.send-message">Send message</span></a>
                                    </div>
                                </div>
                            </div>
                           
                            
                            <div class="contact-info <% if(additionalResponsibles==null || additionalResponsibles.length==0) { %> last<% } %> ">
                                <h3 data-localize="modules.contact.pm-responsible">Your project manager responsible</h3>
                                <div class="profile-pic pull-left"><a class="contact-details" user="<%= pmResponsible.id %>"><img style="width:63px;" src="<%= pmResponsible.avatar %>" onerror="setDefaultAvatar2(this)"></a></div>
                                <div class="details">
                                    <a class="name contact-details" user="<%= pmResponsible.id %>"><%= pmResponsible.name %></a>
                                    <div class="job-title"><%= pmResponsible.position %></div>
                                    <div class="actions">
                                        <a class="btn btn-mini quick-message"  user="<%= pmResponsible.id %>" ><i class="icon-quick-message"></i> <span data-localize="modules.contact.send-message">Send message</span></a>
                                    </div>
                                </div>
                            </div>
                            
                            
                              <% if(additionalResponsibles!=null && additionalResponsibles.length>0) { %>
                                 <div class="contact-info last" >
                                <h3 data-localize="modules.contact.additional-responsible">Additional Responsible</h3>
                             <% for(var i=0; i< additionalResponsibles.length; i++){ %>
                                <div class="contact-info">
                                <div class="profile-pic pull-left"><a class="contact-details" user="<%= additionalResponsibles[i].id %>"><img style="width:63px;" src="<%= additionalResponsibles[i].avatar %>" onerror="setDefaultAvatar2(this)"></a></div>
                                <div class="details">
                                    <a class="name contact-details" user="<%= additionalResponsibles[i].id %>"><%= additionalResponsibles[i].name %></a>
                                    <div class="job-title"><%= additionalResponsibles[i].position %></div>
                                    <div class="actions">
                                        <a class="btn btn-mini quick-message"  user="<%= additionalResponsibles[i].id %>" ><i class="icon-quick-message"></i> <span data-localize="modules.contact.send-message">Send message</span></a>
                                    </div>
                                </div>
                            </div>
                             <% } %>
                             </div>
                             <% } %>
                            
                            
                        </section>
                    </div>