<div class="modal-body">
	<div class="content">
		<form autocomplete="on" class="form-horizontal">
			<% if(this.budgetCodesEnabledAndAvailable) { %>
			<div class="control-group">
				<label class="control-label" for="input-quote-name" data-localize="general.budget-code">Budget Code</label>
				<div class="controls">
					<select id="select-budget-code" class="chosen-process" data-placeholder="Select Budget Code" data-localize-2="modules.quotes.input-budget-code">
						<option></option>
						<% _.each(this.budgetCodes, function(budgetCode){ %>
						<option value="<%= budgetCode %>"><%= budgetCode %></option>
						<% }) %>
					</select>
				</div>
			</div>
			<% } %>

			<div class="control-group">
				<label class="control-label" for="input-quote-name" data-localize="modules.projects.project-name">Project name</label>
				<div class="controls quote-name">
					<input class="is--required"
						   id="input-quote-name"
						   placeholder="ex. Another translation for Company"
						   type="text"
						   data-localize-2="modules.quotes.input-quote-name-ph"
						   maxlength="255">
					<span id="input-quote-name-eq" style="display:none;" data-localize="modules.quotes.input-quote-name-ph">ex. Another translation for Company</span>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-quote-reference-number" data-localize="modules.projects.reference-number">Reference number</label>

				<div class="controls quote-name">
					<input class=""
					       id="input-quote-reference-number"
					       placeholder="Enter reference number"
					       type="text"
					       data-localize-2="modules.quotes.input-quote-reference-number-ph"
					       maxlength="255">
					<span id="input-quote-reference-number-eq"
					      style="display:none;"
					      data-localize="modules.quotes.input-quote-reference-number-ph">Enter reference number</span>

				</div>
			</div>
			<% if (this.offices.length > 1) { %>
			<div class="control-group">
				<label class="control-label" for="select-office" data-localize="modules.quotes.office">Office</label>

				<div class="controls">
					<select id="select-office" class="chosen-process" data-placeholder="Select office" data-localize-2="modules.quotes.input-quote-select-office">
						<option></option>
						<% $.each(this.offices.sort(function(a,b) {return a.name.localeCompare(b.name);}), function(i, office){ %>
						<option value="<%= office.id %>"><%= office.name %></option>
						<% }) %>
					</select>
				</div>
			</div>
			<% } %>

			<div id="services-wrapper" class="control-group">

			</div>
			<div class="control-group">
				<label class="control-label" for="select-specialization" data-localize="modules.quotes.specialization">Specialization</label>

				<div class="controls">
					<select id="select-specialization" class="chosen-process is--required" data-placeholder="Select specialization" data-localize-2="modules.quotes.input-quote-spec-ph">
						<option></option>
						<% $.each(this.specializations, function(i, specialization){ %>
						<option value="<%= specialization.name %>"><%= specialization.localizedName %></option>
						<% }) %>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="select-source-lang" data-localize="general.source-lang">Source language</label>

				<div class="controls">
					<select id="select-source-lang"
					        class="chosen-process is--required"
					        data-placeholder="Select source language"
					        data-localize-2="modules.quotes.input-quote-source-lang-ph">
						<option></option>
						<% $.each(this.sourceLanguages, function(i, language){ %>
						<option data-name="<%= language.name %>" value="<%= language.id %>"><%= language.displayName %></option>
						<% }) %>
					</select>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="select-target-langs" data-localize="general.target-langs">Target languages</label>

				<div class="controls">
					<select multiple="multiple"
					        class="chosen-process is--required"
					        id="select-target-langs"
					        data-placeholder="Select target language(s)"
					        data-localize-2="modules.quotes.input-quote-target-langs-ph">
						<option></option>
						<% $.each(this.languages, function(i, language){ %>
						<option data-name="<%= language.name %>" value="<%= language.id %>"><%= language.displayName %></option>
						<% }) %>
					</select>
				</div>
			</div>
			<div class="control-group delivery-date">
				<label class="control-label" for="input-delivery-date" data-localize="modules.quotes.rdd">Requested deadline</label>

				<div class="controls" id="delivery-date-wrapper">
					<input class="" id="input-delivery-date" type="text"/>
					<span class="add-on"></span>
				</div>
				<div class="controls" id="delivery-time-wrapper">
					<input class="" id="input-delivery-time" type="text" value="--:--PM/AM"/>
				</div>
			</div>


		</form>
	</div>
</div>


<div class="modal-footer">
	<button class="btn btn-cta btn-large next-step disabled"><span data-localize="general.source-files">Source files</span> <i class="icon-next-step"></i></button>
</div>