<% if(project.name!=null && $.trim(project.name)!="") { %>


<a <% if(permissionsTable['project_view']==1){ %> href="#!project/<%= project.id %>" <% } %> title="<%= project.name %>" >

<% if(project.name.length>82){ %>
<%= project.name.substr(0,79)+"..." %>
<% } else{ %>
<%= project.name %>
<% } %>

</a>

<% }else{ %>

<a <% if(permissionsTable['project_view']==1){ %> href="#!project/<%= project.id %>" <% } %> >
<%= project.idNumber %>
</a>

<% } %>