<% if($.trim(quote.name)!="") { %>

<% if(permissionsTable['quote_view']==1){ %>
<a href="#!quote/<%= quote.id %>" title="<%= quote.name %>">
    <% }else{ %>
    <a title="<%= quote.name %>">
        <% } %>

        <% if(quote.name.length>32){ %>
        <%= quote.name.substr(0,29)+"..." %>
        <% } else{ %>
        <%= quote.name %>
        <% } %>
    </a>
        <% } else{ %>
        <% if(permissionsTable['quote_view']==1){ %><a href="#!quote/<%= quote.id %>" title="<%= quote.name %>">
        <% }else{ %>
        <a title="<%= quote.name %>">
            <% } %>
            <%= quote.idNumber %>
        </a>
        <% } %>