<div class="row">
          <div class="span12">
            <section class="content single-report-view">
              <div
                class="module module-report report-single-view"
                reportID="<%= report.id %>"
                officeID="<%= office.id %>">
                <header>
                  <a class="return-button" href="#!reports/1"><span>«</span></a>
                  <div class="report-type-change">
                    <div class="report-choice dropdown-select2 pull-left">
                      <div data-toggle="dropdown" id="report-chosen" class="dropdown-toggle">
                        <% if(report.localizedName.length>60) { %><%= report.localizedName.substr(0,57)+"..." %><% }else { %><%= report.localizedName %><% } %>
                        <b class="caret"></b>
                      </div>
                      <ul class="dropdown-menu">
                        <% $.each(this.reports, function(i, report){ %>
                        <li><a href="#!report/<%= report.id %>/<%= office.id %>/table" reportID="<%= report.id %>"><span><%= report.localizedName %></span> <i class="icon-report-table"></i><% if(report.chartType!=null) { %><i class="icon-report-chart"></i><% } %></a></li>
                       
                        <% }) %>
                      </ul>
                    </div>
                  </div>

                  <% if (this.offices.length > 1) { %>
                  <div class="report-office-change">
                    <div class="report-office-choice dropdown-select2 pull-right">
                    <div data-toggle="dropdown" id="report-chosen" class="dropdown-toggle">
                      <% if(office.name.length>60) { %><%= office.name.substr(0,57)+"..." %><% }else { %><%= office.name %><% } %>
                      <b class="caret"></b>
                    </div>
                      <ul class="dropdown-menu">
                        <% $.each(this.offices, function(i, office) { %>
                        <li>
                          <a href="#!report/<%= report.id %>/<%= office.id %>/table" reportID="<%= report.id %>">
                            <span><%= office.name %></span>
                          </a>
                        </li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                  <% } %>
                </header>
                <section class="action-bar"> 
                  <div class="filters-wrapper"></div>
                  <div class="actions">
                  	<a target="_blank" class="btn btn-mini btn-primary btn-print" href="#!report/<%= report.id %>/<%= office.id %>/print/table"><span data-localize="modules.reports.print">Print</span></a>
                    <a class="btn btn-mini btn-primary" href="<%= report.csv %>"><span data-localize="modules.reports.download-as">Download data as</span> <strong>CSV</strong></a>
                    

                  </div>
                </section>
                <div class="content">
                  <div class="tabbable tabs-left tabs-report-view">
                    <ul class="nav nav-tabs" id="">
                    
                        <li><a data-toggle="tab" tab="table"><i class="icon-report-table-left-tab"></i></a></li>
                        <% if(showChart) { %>
                        <li><a data-toggle="tab" tab="chart"><i class="icon-report-chart"></i></a></li>
                        <% } %>
                    </ul>

                    <div class="tab-content">
                    	<% if(showChart) { %>
                        <div class="tab-pane" id="chart-view" <% if($.cookie('highcharts')) { %> style="width:960px; height:500px;" <% } %>><div id="chart-wrapper"></div></div>
                        <% } %>
                         <div class="tab-pane" id="table-view">
                          <div id="table-wrapper"></div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        